/*Utils*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*Media Queries*/
/*Transitions*/
.signin-container {
  margin: auto;
  text-align: center;
  min-height: 100vh; }
  .signin-container .signin-form-container {
    width: 35%;
    text-align: center;
    background-color: #FEFDD9;
    border-radius: 8px;
    margin: 50px auto;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5); }
    .signin-container .signin-form-container .signin-form-title {
      margin: auto;
      font-size: 36px;
      padding: 20px; }
    .signin-container .signin-form-container .login-btn {
      border-radius: 8px;
      margin: auto;
      font-size: 24px;
      background-color: #FEFDD9;
      color: #e5760d;
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      -ms-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out; }
      .signin-container .signin-form-container .login-btn:hover {
        transform: scale(1.1); }
    .signin-container .signin-form-container .login-error {
      margin-bottom: 30px;
      color: #b44038; }
    .signin-container .signin-form-container .login-links {
      padding-top: 50px;
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column; }
