@import '../../variables';
@import '../../mixins';


.signin-container {
  
  margin: auto;
  text-align: center;
  min-height: 100vh;
  padding-top: 200px;
  background-color: $grayLight;

  .signin-form-container {
    width: 25%;
    text-align: center;
    background-color: $white;
    border-radius: 8px;
    margin: auto;
    border: 1px solid $primary;
    border-radius: 8px;
    padding: 50px;
    .logo-cast {
      height: 100px;
      margin-bottom: 40px;
    }
    .login-error {
      margin: 30px auto;
      color: $error-dark;
    }
    .login-links {
      width: 100%;
      margin: auto 20x;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
}