.signup-container {
  text-align: center;
  min-height: 100vh; }
  .signup-container .signup-form-container {
    text-align: center;
    width: 35%;
    margin: 50px auto;
    background-color: #FEFDD9;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5); }
    .signup-container .signup-form-container .signup-form-title {
      margin: 40px auto;
      font-size: 36px; }
