@import '../../variables.scss';

.signup-container {
  text-align: center;
  min-height: 100vh;
  .signup-form-container {
    text-align: center;
    width: 35%;
    margin:auto;
    border-radius: 8px;
    padding-top: 100px;
    .signup-form-title {
      margin: 40px auto;
      font-size: 36px;
      color: $primary;
      font-weight: bold;


    }
  }
}