@import '../../variables.scss';

.signin-container {
  
  margin: auto;
  text-align: center;
  min-height: 100vh;



  .signin-form-container {
    width: 20%;
    text-align: center;
    background-color: #FEFDD9;
    border-radius: 8px;
    margin: 50px auto;
    padding: 25px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);

    .signin-form-title {
      margin-top: 25px;
      font-size: 36px;
    }
    .input-fields {
      margin: 45px auto;
      width: 80%;
      height: 30px;     
      .login-btn {
        border-radius: 8px;
        margin: auto;
        font-size: 20px;
        background-color: #FEFDD9;
        border: 1px solid $primaryDarker;
        color: $primaryDarker;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      .login-error {
        margin-bottom: 30px;
        color: $error-dark;
      }
    }
    .login-links {
      padding-top: 50px;
      width: 100%;
      margin: auto;
    }
  }
}