@import '../../variables';
@import '../../mixins';


.signin-container {
  
  margin: auto;
  text-align: center;
  min-height: 100vh;



  .signin-form-container {
    width: 35%;
    text-align: center;
    background-color: $white;
    padding-top: 100px;
    border-radius: 8px;
    margin: auto;
    .signin-form-title {
      font-size: 36px;
      margin: 40px auto;
      color: $primary;
      font-weight: bold;

    }
    .login-error {
      margin-bottom: 30px;
      color: $error-dark;
    }
    .login-links {
      width: 100%;
      margin: auto 20x;
      display: flex;
      justify-content: center;
    }
  }
}