.home-container {
  margin: auto;
  text-align: left;
  position: relative; }
  .home-container .banner .banner-img {
    width: 100%;
    height: 93vh;
    background-repeat: no-repeat;
    background-size: cover; }
  .home-container .banner .home-title-ctn {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 140px;
    font-weight: 800;
    color: white; }
    .home-container .banner .home-title-ctn .first-home-title {
      margin-top: 90px; }
    .home-container .banner .home-title-ctn .second-home-title {
      margin-left: 200px;
      margin-top: 90px; }
    .home-container .banner .home-title-ctn .third-home-title {
      margin-left: 400px;
      margin-top: 90px; }
  .home-container .home-section-ctn {
    height: 100vh;
    background-color: #FFB166; }
