.home-container {
  margin: auto;
  text-align: left;
  position: relative; }
  .home-container .banner {
    position: relative; }
    .home-container .banner .home-title-ctn {
      position: absolute;
      top: 15%;
      left: 5%;
      font-size: 122px;
      font-weight: 800;
      color: #000000; }
      .home-container .banner .home-title-ctn .second-home-title {
        margin-left: 200px; }
      .home-container .banner .home-title-ctn .third-home-title {
        margin-left: 400px; }
