@import '../../variables';
@import '../../mixins';


.home-container {
  margin: auto;
  text-align: left;
  position: relative;
  z-index: 20;
  max-height: 400px;
  .banner-wrapper {
    max-height: 400px;
  
  
    .banner-img-ctn {
      height: 400px;
      max-height: 400px;
      background-image: url("../../images/banner.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: center;
  
    }
    .labels {
      display: flex;
      position: absolute;
      top: 20%;
      left: 0;
      z-index: 10;
      font-size: 30px;
      font-weight: bold;
      margin-left: 80px;
      color: $white;
    }
  }

  .home-section-ctn {
    background-color: $white;
    width: 100%;
    .second-home-section {
      height: 300px;
      background-color: $primary;
      display: flex;
      justify-content: center;
      margin: 50px auto;
      width: 100%;
      text-align: center;
      .subtitle-ctn {
        width: 35%;
        margin: auto 45px;

      }
      .second-logo-ctn {
        width: 15%;
        margin: auto 45px;
        .second-logo {
          width: 100%;
        }
      }

    }
    .home-footer-buttons {
      display: flex;
      justify-content: space-evenly;
      margin-top: 100px;
      padding: 50px;
      overflow: hidden;
      background-color: $grayLight;
      .home-btn-links {
        &.home-btn-ctn1 {
          flex-grow: 2;
          z-index: 4;
        }
        &.home-btn-ctn2 {
          flex-grow: 3;
          z-index: 3;
        }
        .home-btn-ctn {
          height: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          @include transition (all, 0.25s, ease-out);
          
          &:hover  {
            transform: scale(1.1)
          }
          .logo-ctn {
            height: 100px;
            margin: 20px auto;
          }
            
          .buttons-label {
            margin: 10px;
            font-size: 20px;
            font-weight: bolder;
          }
        }
      }
      .home-footer-sepdiv {
        height: 200px;
        width: 2px;
        background-color: $grayDark;
      }
    }
  }
}