.home-container {
  margin: auto;
  text-align: left;
  position: relative; }
  .home-container .banner .banner-img {
    width: 100%;
    height: 93vh;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4); }
  .home-container .banner .home-title-ctn {
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 10em;
    font-weight: 900;
    color: #e5760d;
    width: 80%; }
    .home-container .banner .home-title-ctn .first-home-title {
      padding-bottom: 50px; }
    .home-container .banner .home-title-ctn .second-home-title {
      margin-left: 10%;
      padding-bottom: 50px; }
    .home-container .banner .home-title-ctn .third-home-title {
      margin-left: 20%; }
  .home-container .home-section-ctn {
    background-color: #FFB166;
    width: 100%; }
    .home-container .home-section-ctn .first-home-section {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      padding-top: 10vh;
      padding-bottom: 10vh; }
      .home-container .home-section-ctn .first-home-section .first-home-section-img {
        width: 40vw;
        height: 50vh;
        background-color: #ffffff;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4); }
      .home-container .home-section-ctn .first-home-section .first-home-section-infos {
        width: 40vw;
        height: 50vh;
        background-color: #ffffff;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4); }
    .home-container .home-section-ctn .second-home-section {
      width: 100%;
      padding-top: 5vh;
      height: 100%; }
      .home-container .home-section-ctn .second-home-section .second-home-section-title {
        text-align: center;
        font-size: 50px; }
      .home-container .home-section-ctn .second-home-section .second-home-section-slider {
        width: 90%;
        margin: 200px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
    .home-container .home-section-ctn .second-home-section-buttons {
      display: flex;
      justify-content: flex-start; }
      .home-container .home-section-ctn .second-home-section-buttons .home-btn-ctn {
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover; }
        .home-container .home-section-ctn .second-home-section-buttons .home-btn-ctn.home-btn-ctn1 {
          flex-grow: 2;
          z-index: 4; }
        .home-container .home-section-ctn .second-home-section-buttons .home-btn-ctn.home-btn-ctn2 {
          flex-grow: 3;
          z-index: 3; }
