@import '../../variables';



.home-container {
  margin: auto;
  text-align: left;
      position: relative;
  .banner {
    position: relative;
    .home-title-ctn {
      position: absolute;
      top: 15%;
      left: 5%;
      font-size: 122px;
      font-weight: 800;
      color: $blackest;
      .second-home-title {
        margin-left: 200px;
      }
      .third-home-title {
        margin-left: 400px;  
      }
    }
  }
}