$primaryDarker: #b15804;
$primaryDark: #e5760d;
$primary: #fa983a;
$primaryLight: #ffad5f;

$grayLight: #f4f3f2;
$grayDark: #8d8786;
$grayMed: #d1cfcf;

$white: #ffffff;
$whitish: #f9f9f9;

$black: #262424;
$blackest: #000000;

$secondary: #fac63a;
$secondary-dark: #b18204;

$error: #ce665f;
$error-dark: #b44038;

$transparentColor: rgba(255, 255, 255, 0);



//Dimensions
$header-height: 4em;
$header-height-mobile: 3em;
$sidebar-width: 15em;