$primaryDarker: #417505;
$primaryDark: #45B649;
$primaryMed: #8ECC52;
$primaryLight: #DCE35B;

$grayLight: #f4f3f2;
$grayDark: #8d8786;
$grayMed: #d1cfcf;

$white: #ffffff;
$whitish: #f9f9f9;

$black: #262424;
$blackest: #000000;

$secondary: #72a1d8;
$secondary-dark: #4576af;

$error: #ce665f;
$error-dark: #b44038;

$transparentColor: rgba(255, 255, 255, 0);


//Dimensions
$header-height: 4em;
$header-height-mobile: 3em;
$sidebar-width: 15em;