@import "./fonts.scss";
@import "./variables.scss";
@import "./mixins.scss";


body {
  margin: 0;
  padding: 0;
  font-family: $sans-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient($primaryLight, $primaryDark);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
  a {
    color: $white;
    text-decoration: none;
    cursor: pointer;
    @include transition (all, 0.25s, ease);
    &:link {
      color: $white;
      text-decoration: none;
    }
    &:visited {
      color: $primaryDark;
      text-decoration: none;
    }
    &:hover {
      color: $primaryLight;
      text-decoration: none;
    }
    &:active {
      color: $white;
      text-decoration: none;
    }
  }

  input, textarea, select {
    @include transition (all, 0.25s, ease);
  }

  button {
    border-style: solid 2px $primaryDark;
    background-color: $primaryLight;
    color: $primaryDark;
    border: none;
      &:hover, &:focus {
        background-color: $primaryDarker;
        color: $grayLight;
      }
      &:active {
        box-shadow: 0 2px 4px 2px rgba(54, 39, 28, 0);
      }
      &:focus {
        outline: $black !important;
      }
      &.secondaryBtn {
        background-color: $black;
        display: block;
        &:hover {
          box-shadow: 0 2px 4px 2px rgba(54, 39, 28, 0);
          background-color: $blackest;
          color: $grayLight;
        }
        &:hover {
          background-color: $blackest;
          color: $primaryDark;
        }
      }
      &.tertiaryBtn {
        background-color: $grayLight;
        color: $black;
        &:hover {
          background-color: $grayMed;
        }
        &:focus {
          color: $blackest;
        }
      }
  }

  .banner {
    position: relative;
    width: 100%;
    height: 300px;
    max-height: 300px;
    margin: auto;
    background-color: beige;
    align-content: center;
  }
}


// .hideOnMobile {
//   @include bp-mobileOnly {
//     display: none !important;
//   }
// }

// .mobileonly {
//   @include bp-mobileOnly {
//     display: block !important;
//   }
// }

// .hideOnSmallScreen {
//   @include bp-small {
//     display: none!important;
//   }
// }

  /* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px white; 
  border-radius: 20px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $primaryDark; 
  border-radius: 10px;
  width: 50px;
}