h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #e5760d; }

h1 {
  font-size: 2em;
  letter-spacing: 0.03em;
  color: #e5760d; }

h2 {
  font-size: 1.5em;
  letter-spacing: 0.025em;
  color: #e5760d; }

h3 {
  font-size: 1.25em;
  letter-spacing: 0.02em;
  color: #e5760d; }

h4 {
  font-size: 1.15em;
  letter-spacing: 0.02em;
  color: #e5760d; }

h5 {
  font-size: 1em;
  letter-spacing: 0.01em;
  color: #e5760d; }

h6 {
  font-size: 0.9em;
  letter-spacing: 0.01em;
  color: #e5760d; }

p {
  line-height: 1.2em; }

/*Utils*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*Media Queries*/
/*Transitions*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ff9f43;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh; }
  body a {
    color: #ff9f43;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    body a:link {
      color: #ff9f43;
      text-decoration: none; }
    body a:visited {
      color: #ff9f43;
      text-decoration: none; }
    body a:hover {
      color: #ff9f43;
      text-decoration: none; }
    body a:active {
      color: #ffffff;
      text-decoration: none; }
  body input, body textarea, body select {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; }
  body input, body textarea {
    box-shadow: none;
    border-radius: 8px;
    background-color: #ffffff;
    border: 2px solid #e5760d;
    font-family: "Raleway", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    letter-spacing: 0.05em;
    padding: 0;
    color: #262424;
    outline: none;
    height: 50px;
    margin: 10px auto;
    padding: 20px;
    width: 80%; }
    body input:focus, body input:active, body textarea:focus, body textarea:active {
      letter-spacing: 0;
      outline: none; }
      body input:focus::placeholder, body input:active::placeholder, body textarea:focus::placeholder, body textarea:active::placeholder {
        color: #FFB166; }
    body input::placeholder, body textarea::placeholder {
      color: #d1cfcf; }
  body button {
    border: none;
    background-color: #ff9f43;
    color: #F28014;
    cursor: pointer; }
    body button:hover, body button:focus {
      background-color: #ff9f43;
      color: #f4f3f2; }
    body button:active {
      box-shadow: 0 2px 4px 2px rgba(54, 39, 28, 0); }
    body button:focus {
      outline: #262424 !important; }
    body button.primary-btn {
      border-radius: 8px;
      margin: 20px auto;
      font-size: 24px;
      background-color: #FEFDD9;
      color: #e5760d;
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      -ms-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out; }
      body button.primary-btn:hover {
        transform: scale(1.1); }
      body button.primary-btn.disabled {
        color: #8d8786;
        cursor: auto; }
        body button.primary-btn.disabled:hover {
          transform: none; }
    body button.nav-btn {
      height: 100%;
      font-size: 14px;
      font-weight: bold;
      margin: 0px 10px; }
  body textarea {
    width: 80%;
    height: 50vh; }
  body select {
    width: 80%;
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #ff9f43;
    /* fallback color if gradients are not supported */
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #ff9f43;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #262424;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding: 10px; }
    body select:hover, body select:focus {
      background-color: #FFB166;
      color: #f4f3f2; }
    body select:active {
      box-shadow: 0 2px 4px 2px rgba(54, 39, 28, 0); }
    body select:focus {
      outline: #262424 !important; }
  body .banner {
    position: relative;
    width: 100%;
    height: 93vh;
    margin: auto;
    background-color: #FFB166;
    align-content: center; }
  body .secondary-banner {
    width: 100%;
    height: 300px;
    background-color: #FFB166;
    position: unset; }

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 8px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px white;
  border-radius: 20px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F28014;
  border-radius: 10px;
  width: 50px; }
