@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Source+Serif+Pro:400,600");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,500,800i,900");
h1, h2, h3, h4, h5, h6 {
  font-family: Lato, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #e5760d; }

h1 {
  font-size: 2em;
  letter-spacing: 0.03em;
  color: #e5760d; }

h2 {
  font-size: 1.5em;
  letter-spacing: 0.025em;
  color: #e5760d; }

h3 {
  font-size: 1.25em;
  letter-spacing: 0.02em;
  color: #e5760d; }

h4 {
  font-size: 1.15em;
  letter-spacing: 0.02em;
  color: #e5760d; }

h5 {
  font-size: 1em;
  letter-spacing: 0.01em;
  color: #e5760d; }

h6 {
  font-size: 0.9em;
  letter-spacing: 0.01em;
  color: #e5760d; }

p {
  line-height: 1.2em; }

/*Utils*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*Media Queries*/
/*Transitions*/
body {
  margin: 0;
  padding: 0;
  font-family: Lato, "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#FFB166, #F28014);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh; }
  body a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    body a:link {
      color: #ffffff;
      text-decoration: none; }
    body a:visited {
      color: #ffffff;
      text-decoration: none; }
    body a:hover {
      color: #ffffff;
      text-decoration: none; }
    body a:active {
      color: #ffffff;
      text-decoration: none; }
  body input, body textarea, body select {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; }
  body button {
    border-radius: 10px;
    border-style: solid 2px #F28014;
    margin: 0.5em 0;
    padding: 0.7em 1em;
    background-color: #F28014;
    color: #F28014;
    border: none; }
    body button:hover, body button:focus {
      background-color: #e5760d;
      color: #f4f3f2; }
    body button:active {
      box-shadow: 0 2px 4px 2px rgba(54, 39, 28, 0); }
    body button:focus {
      outline: #262424 !important; }
    body button.secondaryBtn {
      background-color: #262424;
      display: block; }
      body button.secondaryBtn:hover {
        box-shadow: 0 2px 4px 2px rgba(54, 39, 28, 0);
        background-color: #000000;
        color: #f4f3f2; }
      body button.secondaryBtn:hover {
        background-color: #000000;
        color: #F28014; }
    body button.tertiaryBtn {
      background-color: #f4f3f2;
      color: #262424; }
      body button.tertiaryBtn:hover {
        background-color: #d1cfcf; }
      body button.tertiaryBtn:focus {
        color: #000000; }
  body .banner {
    position: relative;
    width: 100%;
    height: 300px;
    max-height: 300px;
    margin: auto;
    background-color: beige;
    text-align: center; }

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 8px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px white;
  border-radius: 20px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F28014;
  border-radius: 10px;
  width: 50px; }
