@import '../../variables';

.profile-container {
  margin: auto;
  text-align: center;

  .profile-banner {
    height: 300px;
    background-color: $primaryLight;
    line-height: 300px;
    align-content: center;
    .profile-infos{
      font-size: 72px;
      margin: auto;

    }
  }
  .profile-stories-title {
    font-size: 40px;
    padding: 50px;
  }
  .profile-stories-list {
    display: flex;
    overflow: overlay;
    width: 80%;
    margin: 50px auto;
  }
  .profile-stories-emptylist {
    margin: 50px auto;
    font-size: 24px;

  }
}