@import '../../variables';

.nav-wrapper {
  width: 100%;
  z-index: 10;
  height: 60px;
  .nav-container {
    display: flex;
    justify-content: space-evenly;
    background-color: $primaryDark;
    height: 100%;
    .home-button {
      height: 100%;
      font-size: 50px;
      font-weight: bold;
      margin: auto;
    }
  }
}