@import '../../variables';

.nav-wrapper {
  width: 100%;
  z-index: 60;
  height: 60px;
  position: fixed;
  .nav-container {
    display: flex;
    justify-content: space-evenly;
    background-color: $white;
    height: 60px;
    .main-logo {
      height: 40px;
      margin: 10px 10px 10px 20px;
    }
  }
}