.nav-wrapper {
  width: 100%;
  z-index: 60;
  height: 60px;
  position: fixed; }
  .nav-wrapper .nav-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    height: 60px; }
    .nav-wrapper .nav-container .main-logo {
      height: 40px;
      margin: 10px 10px 10px 20px; }
