.nav-wrapper {
  width: 100%;
  z-index: 10;
  height: 60px; }
  .nav-wrapper .nav-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #F28014;
    height: 100%; }
    .nav-wrapper .nav-container .home-button {
      height: 100%;
      font-size: 50px;
      font-weight: bold;
      margin: auto; }
