/*Utils*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*Media Queries*/
/*Transitions*/
.navlinks {
  width: 100%;
  display: flex;
  justify-content: baseline;
  list-style: none;
  font-size: 12px; }
  .navlinks .search-form {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: auto; }
    .navlinks .search-form .search-input {
      background-color: #FF4F4F;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      height: 30px;
      margin: 15px 0px;
      padding: 15px;
      font-size: 12px;
      border: none; }
    .navlinks .search-form .search-btn {
      height: 30px;
      margin: 15px 5px 15px -5px;
      font-size: 14px;
      font-weight: bold;
      background-color: #FF4F4F;
      width: 30px;
      border-bottom-right-radius: 50px;
      border-top-right-radius: 50px; }
      .navlinks .search-form .search-btn .search-icon {
        margin-right: 20px; }
  .navlinks .nav-btn {
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    margin: 15px 0px;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }
    .navlinks .nav-btn.create-story-btn {
      border: 1px solid #FF4F4F;
      border-radius: 4px;
      color: #FF4F4F; }
      .navlinks .nav-btn.create-story-btn:hover {
        transform: scale(1.1); }
  .navlinks .sep-div {
    height: 30px;
    width: 2px;
    background-color: #f4f3f2;
    margin: 15px 20px; }
  .navlinks .avatar {
    height: 50px;
    width: 50px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    margin: 5px 0px;
    background-image: url("../../images/dikkenek.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center; }
