.navlinks {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  list-style:none;
  input {
    color: white;

  }
  .search-input {
    width: 50%;
    color: white;
   

  }
  .search-btn {
    margin-right: 100px;
  }
  .nav-btn {
    height: 100%;
    min-height: 45px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .avatar {
    height: 100%;
  }
}