.navlinks {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  list-style:none;
  font-size: 12px;

  .search-form {
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
    width: 100%;
    .search-input {
      width: 80%;
      height: 100%;
      border: none;
      padding: 10px;

    }
    .search-btn {
      font-size: 14px;
      font-weight: bold;
      padding: 20px;
    }
  }
  .nav-btn {
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 10px;

  }
  .avatar {
    height: 50px;
    width: 50px;
    padding: 10px;
    font-size: 24px;
    border-radius: 50%;
    margin: 10px;
    background-color: white;

  }
}