.notifications-ctn {
  width: 100%;
  margin: auto;
  background-color: #FFB166;
  padding: 30px; }
  .notifications-ctn .notifications-card {
    width: 80%;
    margin: auto;
    text-align: center; }
    .notifications-ctn .notifications-card .notifications-title {
      font-size: 70px; }
    .notifications-ctn .notifications-card .notifications-list {
      width: 100%;
      margin: 50px auto; }
      .notifications-ctn .notifications-card .notifications-list .notification-ctn {
        padding: 10px;
        width: 40%;
        margin: 10px auto;
        background-color: #ff9f43;
        border-radius: 10px;
        display: flex;
        justify-content: flex-start; }
        .notifications-ctn .notifications-card .notifications-list .notification-ctn .notification-infos {
          margin: auto; }
          .notifications-ctn .notifications-card .notifications-list .notification-ctn .notification-infos .notification-user {
            font-weight: bold;
            margin: 5px;
            text-align: left; }
          .notifications-ctn .notifications-card .notifications-list .notification-ctn .notification-infos .notification-content {
            margin: 5px; }
        .notifications-ctn .notifications-card .notifications-list .notification-ctn .notification-date {
          margin: 5px;
          font-size: 12px;
          text-align: right;
          float: right;
          flex-grow: 2; }
