@import '../../variables';

.create-story-container {
  .create-story-form {
    width: 60%;
    text-align: center;
    background-color: #FEFDD9;
    border-radius: 8px;
    margin: 50px auto;
    padding: 25px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    
    .input-fields {
      margin: 45px auto;
      width: 100%;
      .input-field-title {
        width: 100%;
      }
      .input-field-content {
        width: 100%;
      }
    }
    .label-file {
      cursor: pointer;
      color: #00b1ca;
      font-weight: bold;
      &:hover {
        color: pink;
      }
    }
    .input-image {
      display: none;
    }
    .create-story-btn {
      border-radius: 8px;
      margin: 30px auto;
      font-size: 20px;
      background-color: #FEFDD9;
      border: 1px solid $primaryDarker;
      color: $primaryDarker;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      &.disabled {
        border: 1px solid $grayDark;
        color: $grayDark;
      }
    }
  }
}