@import '../../variables';

.create-story-container {
  padding-top: 100px;
  .create-story-form {
    width: 60%;
    text-align: center;
    background-color: aqua;;
    border-radius: 8px;
    margin: auto;
    text-decoration: none;
    padding: 30px;
    .categories-input-ctn, .title-input-ctn {
      width: 49%;
    }
    .img-input-ctn {
      display: flex;
      flex-direction: column;
      .input-image-infos {
        margin: 20px;
        .image-upload {
          width: 100%;
          .label-file {
            cursor: pointer;
            color: $primary;
            font-weight: bold;
            font-size: 26px;
            padding: 10px;
            background-color: $white;
            width: 100%;
            &:hover {
              color: $primaryDark;
            }
            &.remove-btn {
              font-size: 16px;
            }
          }
          .input-image {
            display: none;
          }
          .uploaded-img {
            margin: auto;
            width: 60%;
          }
          .image-upload-infos {
            color: green;
            margin: 30px;
          }
        }
      }
    }
  }
}