.create-story-container .create-story-form {
  width: 20%;
  text-align: center;
  background-color: #FEFDD9;
  border-radius: 8px;
  margin: 50px auto;
  padding: 25px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  text-decoration: none; }
  .create-story-container .create-story-form .input-fields {
    margin: 45px auto;
    width: 100%;
    height: 30px; }
  .create-story-container .create-story-form .create-story-btn {
    border-radius: 8px;
    margin: 30px auto;
    font-size: 20px;
    background-color: #FEFDD9;
    border: 1px solid #b15804;
    color: #b15804;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px; }
