@import '../../variables';

.create-story-container {
  padding-top: 100px;
  .create-story-form {
    width: 60%;
    text-align: center;
    background-color: $white;
    border-radius: 8px;
    margin: auto;
    text-decoration: none;
    .create-story-title {
      margin: 40px auto;
      font-size: 36px;
    }
    .categories-input-ctn {
        margin: 20px auto;
    }
    .img-input-ctn {
      display: flex;
      flex-direction: column;
      .input-image-infos {
        margin-top: 20px;
        .image-upload {
          .label-file {
            cursor: pointer;
            color: $primary;
            font-weight: bold;
            font-size: 26px;
            margin: 30px;
            border-radius: 10px;
            padding: 10px;
            background-color: $white;
            &:hover {
              color: $primaryDarker;
            }
            &.remove-btn {
              font-size: 16px;
            }
          }
          .input-image {
            display: none;
          }
          .uploaded-img {
            margin: auto;
            width: 60%;
          }
          .image-upload-infos {
            color: green;
            margin: 30px;
          }
        }
      }
    }
    .create-btn-ctn {
      margin: 50px auto;
      background-color: $white;
    }
  }
}