@import '../../variables.scss';
@import '../../mixins.scss';



.story-summary-card {
  margin: 10px;
  flex: 0 0 auto;
  @include transition (all, 0.25s, ease-out);
  .story-summary-container {
    background-color: $white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    width: 250px;
    max-width: 250px;
    min-height: 350px;
    margin: 10px;
    position: relative;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(128,128,128,1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(128,128,128,1);
    box-shadow: 0px 0px 1px 0px rgba(128,128,128,1);
    .story-summary {
      color: $white;
      position: absolute;
      bottom: 5%;
      right: 5%;
      .story-summary-content {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: nowrap;
        z-index: 5;   
        font-style: italic;
        text-align: right;
      }
      .story-summary-category {
        font-size: 12px;
        color: white;
        z-index: 10;
        padding: 5px;
        border-radius: 20px;
        text-transform: uppercase;
        text-align: center;
        margin: auto;
        width: 100%;
        min-width: 40px;
      }
  
      
    }

  }
  .story-infos-ctn {
    margin: 10px;

    .story-summary-title {
      font-size: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      z-index: 5;   
      color: black;
      font-weight: bold;
    }
    .story-summary-author {
      font-size: 20px;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      padding-top: 3px;
      padding-left: 3px;
      color: black;  
    }
    .story-summary-date {
      font-size: 20px;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      border-bottom-right-radius: 10px;
      padding: 3px;
      color: black;  
    }
  }

}