@import '../../variables';

.stories-details-container {
  width: 100%;
  margin: auto;
  .stories-details {

    .secondary-banner {
      .stories-details-title-ctn {
        line-height: 400px; 
        text-align: center;
        vertical-align: middle;
        height: 400px;
        .stories-details-title {
          width: 60%;
          font-size: 92px;
          margin: auto;
        }
      }
      .stories-details-infos {
        width: 40%;
        font-size: 20px;

  
        .stories-details-author {
          color: blue;
        }
        .stories-details-date {
          color: red;
        }
      }
    }
    .stories-details-img-ctn {
      width: 100%;
      margin: auto;
      text-align: center;
      border-radius: 10px;
      .stories-details-img {
        min-width: 50%;
        max-width: 70%;
        margin: 60px auto 40px auto;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
      }
    }

    .stories-details-content {
      background-color: white;
      box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
      border-radius: 10px;
      width: 60%;
      margin: 50px auto;
      padding: 50px;
      font-size: 18px;
    }
  }
  .comment-form-ctn {
    width: 70%;
    margin: auto;
    border: 1px solid $primaryDarker;
    border-radius: 10px;

    .comment-form {
      display: flex;
      flex-direction: column;
    }
  }
}

