.stories-details-container {
  width: 100%;
  margin: auto;
  .stories-details {

    .secondary-banner {
    position: relative;
    padding: 100px;

      .stories-details-title {
        width: 60%;
        font-size: 72px;
        margin: auto;
      }
      .stories-details-img {
        max-height: 450px;
        max-width: 40%;
        margin: auto;
        position: absolute;
        top: 80%;
        left: 10%;
      }
    }
    .stories-details-infos {
      width: 40%;
      float: right;
      margin: 50px;

      .stories-details-author {
        padding-top :30px;
        font-size: 30px;
      }
      .stories-details-date {
        padding-top :30px;
        padding-bottom :30px;

        font-size: 30px;
      }
    }
    .stories-details-content {
      background-color: white;
      width: 60%;
      margin: 450px auto 100px auto;
      padding: 50px;
      font-size: 18px;


    }
    
  }
}

