.story-summary-container {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  width: 250px;
  max-width: 250px;
  margin: 20px 10px; }
  .story-summary-container .story-summary-title {
    padding: 20px;
    font-size: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .story-summary-container .story-summary-author {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px; }
  .story-summary-container .story-summary-date {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px; }
