.story-summary-container {
  flex: 0 0 auto;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 250px;
  max-width: 250px;
  min-height: 350px;
  margin: 10px;
  position: relative;
  -webkit-box-shadow: 0px 0px 1px 0px gray;
  -moz-box-shadow: 0px 0px 1px 0px gray;
  box-shadow: 0px 0px 1px 0px gray; }
  .story-summary-container .story-summary-infos {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: baseline;
    position: absolute;
    top: 80%;
    left: 0%;
    font-size: 10px;
    width: 80%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
    .story-summary-container .story-summary-infos .story-summary-title {
      padding: 10px;
      font-size: 24px;
      background-color: white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      z-index: 5;
      border-top-right-radius: 10px;
      color: black; }
    .story-summary-container .story-summary-infos .story-summary-category {
      font-size: 10px;
      color: white;
      position: absolute;
      top: 5%;
      right: 5%;
      z-index: 10; }
    .story-summary-container .story-summary-infos .story-summary-author {
      font-size: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      padding-top: 3px;
      padding-left: 3px;
      color: black; }
    .story-summary-container .story-summary-infos .story-summary-date {
      font-size: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      border-bottom-right-radius: 10px;
      padding: 3px;
      color: black; }
