@import '../../variables.scss';

.story-summary-container {
  margin: 20px;

  background-color: $white;
  text-align: center;
  border-radius: 15px;
  .story-summary-content {
    padding: 25px;
    .story-summary-img {
      max-width: 100px;
      max-height: 100px
    }
    .story-summary-title {
      padding: 20px;
      font-size: 36px;
    }
    .story-summary-author {
      font-size: 20px;


    }
    .story-summary-date {
      font-size: 20px;


    }
  }
}