.story-summary-container {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  width: 250px;
  max-width: 250px;
  min-height: 300px;
  margin: 20px 10px;
  position: relative; }
  .story-summary-container .story-summary-title {
    padding: 20px;
    font-size: 24px;
    background-color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    position: absolute;
    top: 25%;
    left: 0%;
    z-index: 5; }
  .story-summary-container .story-summary-author {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    position: absolute;
    top: 5%;
    left: 5%; }
  .story-summary-container .story-summary-date {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    position: absolute;
    top: 15%;
    left: 5%; }
