.stories-details-container {
  width: 100%;
  margin: auto; }
  .stories-details-container .stories-details-card .banner .stories-details-img {
    width: 40%;
    margin: auto;
    position: absolute;
    top: 65%;
    left: 30%; }
  .stories-details-container .stories-details-card .banner .stories-details-card-title {
    width: 60%;
    position: absolute;
    top: 15%;
    left: 20%;
    font-size: 72px; }
